/* universal element = The CSS universal selector ( * ) 
matches elements of any type...e.g. An asterisk ( i.e. "*" )
 is used to denote a CSS universal selector. 
An asterisk can also be followed by a selector. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*background color*/
body {
    background-color: #d9dcd6;
}


/* header styles = The <header> element represents a 
container for introductory content or a set of navigational links. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    display: inline-block;
    color: #d9dcd6;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/* text styles = 
A text style is a named collection of text settings 
that controls the appearance of text, 
such as font, line spacing, justification, and color.*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/* background picture */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* floats =  The float CSS property places an element on the left or right side of its container, 
allowing text and inline elements to wrap around it.*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/* The <main> tag specifies the main content of a document. 
The content inside the <main> element should be unique to the document. 
It should not contain any content that is repeated across documents such as sidebars, 
navigation links, copyright information, site logos, and search forms.*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/* services; section (nested in it with article h2)*/
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.service img {
    max-height: 200px;  
}


/* benefits; aside with h3; aside = The <aside> tag defines some content 
aside from the content it is placed in. 
The aside content should be indirectly related to 
the surrounding content. 
Tip: The <aside> content is often placed as a sidebar in a document. */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* footer element*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
